*{
  margin: 0;
}

.App{
  background-color: #111;
}

.main_footer{
  color: #fff;
  background-color: #111;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 20px;
}